@* 20231218 *@
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_TwilightSoulMasterLayoutTemplate.cshtml";
}

@{
    var isRoot = ViewBag.IsRoot ?? false;
    var showChildrenMenu = ViewBag.ShowChildrenMenu ?? true;
}
@* <head> *@
    @* <meta content="text/html" charset="UTF-8"/> *@
    @* <title /> *@
    @* <meta> *@
    @* <link rel="stylesheet"> *@
    @* Html.RequiresCss(); *@
@section HtmlHeadCss
{
    <!-- HtmlHeadCss -->
}

    @* @Html.RenderCssHere() *@
    @* Html.RequiresJs(); *@
@section HtmlHeadJs
{
    <!-- HtmlHeadJs -->
}

    @* @Html.RenderJsHere() *@
    @* <script type="text/javascript" ... /> *@
@section HtmlHeadBottom
{
    <!-- HtmlHeadBottom -->
}

@* </head> *@
@* <body> *@
@* <div class="theme-wrapper"> *@
    @* <header> *@
        @* <div class="container"> *@
            @* <div class="row"> *@
                @* <div class="col-sm-12"> *@
                    @* <div id="Logo" ... /> *@
                    @* <div id="menu-container" ... /> *@
                    @* <a class="search-placeholder"></a> *@
                @* </div> *@
            @* </div> *@
        @* </div> *@
    @* </header> *@
    @* @if (isRoot) *@
        @* <div class="container"> *@
@section PageTitleSlider
{
    <div class="tsSectionFiller">PageTitleSlider</div>
}

        @* </div> *@
    @* else *@
        @* <div id="bt-pagetitle"> *@
            @* <div class="container"> *@
@section PageTitleZone
{
    <div class="tsSectionFiller">PageTitleZone</div>
}

            @* </div> *@
        @* </div> *@
    @* <main class="innerView" role="main"> *@
        @* @Html.Partial("TSDomains/_domainHeading") *@
@section Zone_Top
{
    <div class="tsSectionFiller">Zone_Top</div>
}

        @* <section class="main-zone"> *@
            @* <div class="container"> *@
                @* <div class="row"> *@
                    @* @if (!isRoot && showChildrenMenu) *@
                        @* <div class="col-xs-12 col-sm-3 col-md-3" id="bt-sidebar"> *@
                            @* <div id="MenuV" ... /> *@
@section SidebarZone
{
    <div class="tsSectionFiller">SidebarZone</div>
}

                        @* </div> *@
                    @* @if (showChildrenMenu) *@
                        @* <div class="@(!isRoot ? " col-xs-12 col-sm-9 col-md-9" : null)" id="bt-content" @(!isRoot ? @"main""" : null)> *@
                            @* @BindTuning.BodyAndZones(this) *@
                            @* <div class="row"> *@
                                @* <div class="col-md-12"> *@
                                    @* @RenderBody() *@
<div class="tsBodyFiller">Body</div>
                                @* </div> *@
                            @* </div> *@

                            @* <div class="row"> *@
                                @* <div class="col-md-7"> *@
@section Zone_Low_1_60L
{
    <div class="tsSectionFiller">Zone_Low_1_60L</div>
}

                                @* </div> *@
                                @* <div class="col-md-5"> *@
@section Zone_Low_1_40R
{
    <div class="tsSectionFiller">Zone_Low_1_40R</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-8"> *@
@section Zone_Low_2_70L
{
    <div class="tsSectionFiller">Zone_Low_2_70L</div>
}

                                @* </div> *@
                                @* <div class="col-md-4"> *@
@section Zone_Low_2_30R
{
    <div class="tsSectionFiller">Zone_Low_2_30R</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-6"> *@
@section Zone_Low_3_50L
{
    <div class="tsSectionFiller">Zone_Low_3_50L</div>
}

                                @* </div> *@
                                @* <div class="col-md-6"> *@
@section Zone_Low_3_50R
{
    <div class="tsSectionFiller">Zone_Low_3_50R</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-12"> *@
@section Zone_Low_4_100
{
    <div class="tsSectionFiller">Zone_Low_4_100</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-7"> *@
@section Zone_Low_5_40L
{
    <div class="tsSectionFiller">Zone_Low_5_40L</div>
}

                                @* </div> *@
                                @* <div class="col-md-5"> *@
@section Zone_Low_5_60R
{
    <div class="tsSectionFiller">Zone_Low_5_60R</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-4"> *@
@section Zone_Low_6_30L
{
    <div class="tsSectionFiller">Zone_Low_6_30L</div>
}

                                @* </div> *@
                                @* <div class="col-md-8"> *@
@section Zone_Low_6_70R
{
    <div class="tsSectionFiller">Zone_Low_6_70R</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-3"> *@
@section Zone_Low_7_30L
{
    <div class="tsSectionFiller">Zone_Low_7_30L</div>
}

                                @* </div> *@
                                @* <div class="col-md-6"> *@
@section Zone_Low_7_40C
{
    <div class="tsSectionFiller">Zone_Low_7_40C</div>
}

                                @* </div> *@
                                @* <div class="col-md-3"> *@
@section Zone_Low_7_30R
{
    <div class="tsSectionFiller">Zone_Low_7_30R</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-12"> *@
@section Zone_Low_8_100
{
    <div class="tsSectionFiller">Zone_Low_8_100</div>
}

                                @* </div> *@
                            @* </div> *@
                            @* <div class="row"> *@
                                @* <div class="col-md-4"> *@
@section Zone_Low_9_33L
{
    <div class="tsSectionFiller">Zone_Low_9_33L</div>
}

                                @* </div> *@
                                @* <div class="col-md-4"> *@
@section Zone_Low_9_34C
{
    <div class="tsSectionFiller">Zone_Low_9_34C</div>
}

                                @* </div> *@
                                @* <div class="col-md-4"> *@
@section Zone_Low_9_33R
{
    <div class="tsSectionFiller">Zone_Low_9_33R</div>
}

                                @* </div> *@
                            @* </div> *@
                        @* </div> *@
                    @* else *@
                        @* <div class="@(!isRoot ? " col-xs-12 col-sm-12 col-md-12" : null)" id="bt-content" @(!isRoot ? @"main""" : null)> *@
                            @* @BindTuning.BodyAndZones(this) *@
                        @* </div> *@
                @* </div> *@
            @* </div> *@
        @* </section> *@
        @* <section class="bg-colorTwilightBlue"> *@
            @* <div class="container"> *@
                @* @if (isRoot) *@
@section SocialZone
{
    <div class="tsSectionFiller">SocialZone</div>
}

            @* </div> *@
        @* </section> *@
    @* </main> *@
    @* <footer> *@
        @* @if (!isRoot) *@
            @* <div class="container"> *@
                @* <div class="row"> *@
                    @* <div class="col-md-9" id="Breadcrumb"> *@
                        @* @Html.Partial("Breadcrumbs/_twilightSoul") *@
                    @* </div> *@
                    @* <div class="col-md-3" id="MyPageEditor" ... /> *@
                @* </div> *@
            @* </div> *@
        @* <div id="FooterWidgets"> *@
            @* <div class="container"> *@
                @* <div id="bt-footer"> *@
@section FooterZone
{
    <div class="tsSectionFiller">FooterZone</div>
}

                @* </div> *@
                @* <div class="row"> *@
                    @* <div class="col-xs-6 col-sm-3 col-md-3"> *@
@section Zone_TS_Footer_1_25L
{
    <div class="tsSectionFiller">Zone_TS_Footer_1_25L</div>
}

                    @* </div> *@
                    @* <div class="col-xs-6 col-sm-3 col-md-3"> *@
@section Zone_TS_Footer_1_25CL
{
    <div class="tsSectionFiller">Zone_TS_Footer_1_25CL</div>
}

                    @* </div> *@
                    @* <div class="col-xs-6 col-sm-3 col-md-3"> *@
@section Zone_TS_Footer_1_25CR
{
    <div class="tsSectionFiller">Zone_TS_Footer_1_25CR</div>
}

                    @* </div> *@
                    @* <div class="col-xs-6 col-sm-3 col-md-3"> *@
@section Zone_TS_Footer_1_25R
{
    <div class="tsSectionFiller">Zone_TS_Footer_1_25R</div>
}

                    @* </div> *@
                @* </div> *@
                @* <div class="row"> *@
                    @* <div class="col-md-4"> *@
@section Zone_TS_Footer_2_33L
{
    <div class="tsSectionFiller">Zone_TS_Footer_2_33L</div>
}

                    @* </div> *@
                    @* <div class="col-md-4"> *@
@section Zone_TS_Footer_2_33C
{
    <div class="tsSectionFiller">Zone_TS_Footer_2_33C</div>
}

                    @* </div> *@
                    @* <div class="col-md-4"> *@
@section Zone_TS_Footer_2_33R
{
    <div class="tsSectionFiller">Zone_TS_Footer_2_33R</div>
}

                    @* </div> *@
                @* </div> *@
                @* <div class="row"> *@
                    @* <div class="col-md-6"> *@
@section Zone_TS_Footer_3_50L
{
    <div class="tsSectionFiller">Zone_TS_Footer_3_50L</div>
}

                    @* </div> *@
                    @* <div class="col-md-6"> *@
@section Zone_TS_Footer_3_50R
{
    <div class="tsSectionFiller">Zone_TS_Footer_3_50R</div>
}

                    @* </div> *@
                @* </div> *@
                @* <div class="row"> *@
                    @* <div class="col-md-12"> *@
@section Zone_TS_Footer_4_100
{
    <div class="tsSectionFiller">Zone_TS_Footer_4_100</div>
}

                    @* </div> *@
                @* </div> *@
            @* </div> *@
        @* </div> *@
        @* <div id="FooterCopyright"> *@
            @* <div class="container"> *@
                @* @BindTuning.FooterLinks(this) *@
            @* </div> *@
        @* </div> *@
    @* </footer> *@
@* </div> *@
@section BodyScriptBottom
{
    <div class="tsSectionFiller">BodyScriptBottom</div>
}

@* @if (!isRoot) *@
    @* <script type="text/javascript"> *@
        @* @Html.Raw(Resources.BindTuning.TwilightSoulDocumentReady_min) *@
    @* </script> *@
@* </body> *@
@* </html> *@
