@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="row">
    <div class="col-md-7">@RenderSection("Zone_Low_1_60L", false)</div>
    <div class="col-md-5">@RenderSection("Zone_Low_1_40R", false)</div>
</div>
<div class="row">
    <div class="col-md-8">@RenderSection("Zone_Low_2_70L", false)</div>
    <div class="col-md-4">@RenderSection("Zone_Low_2_30R", false)</div>
</div>
<div class="row">
    <div class="col-md-6">@RenderSection("Zone_Low_3_50L", false)</div>
    <div class="col-md-6">@RenderSection("Zone_Low_3_50R", false)</div>
</div>
<div class="row">
    <div class="col-md-12">@RenderSection("Zone_Low_4_100", false)</div>
</div>
<div class="row">
    <div class="col-md-7">@RenderSection("Zone_Low_5_40L", false)</div>
    <div class="col-md-5">@RenderSection("Zone_Low_5_60R", false)</div>
</div>
<div class="row">
    <div class="col-md-4">@RenderSection("Zone_Low_6_30L", false)</div>
    <div class="col-md-8">@RenderSection("Zone_Low_6_70R", false)</div>
</div>
<div class="row">
    <div class="col-md-3">@RenderSection("Zone_Low_7_30L", false)</div>
    <div class="col-md-6">@RenderSection("Zone_Low_7_40C", false)</div>
    <div class="col-md-3">@RenderSection("Zone_Low_7_30R", false)</div>
</div>
<div class="row">
    <div class="col-md-12">@RenderSection("Zone_Low_8_100", false)</div>
</div>
<div class="row">
    <div class="col-md-4">@RenderSection("Zone_Low_9_33L", false)</div>
    <div class="col-md-4">@RenderSection("Zone_Low_9_34C", false)</div>
    <div class="col-md-4">@RenderSection("Zone_Low_9_33R", false)</div>
</div>
