@using ClientDependency.Core.Mvc
@using Articulate;
@model Articulate.Models.IMasterModel
@{
    //ViewBag.ShowLeftSidebar = false;
    //ViewBag.ShowRightSidebar = false;
    Layout = "~/Views/_CodeCharmMasterLayoutTemplate.cshtml";
}

@section HtmlHeadCss
{
    @* This loads all CSS found in the current theme's css folder: /Assets/css *@
    @*@Html.RequiresThemedCssFolder(Model);*@

}
@section HtmlHeadBottom
{
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
}
@section PageTitleZone
{
<header id="site-head">

    @if (!Model.BlogLogo.IsNullOrWhiteSpace())
    {
        <a id="blog-logo" href="@Url.ArticulateRootUrl(Model)">
            <div class="bloglogo" style="background: url(@Model.BlogLogo)"></div>
        </a>
    }

    <h1 class="blog-title">
        <a href="@Url.ArticulateRootUrl(Model)">
            @Model.BlogTitle
        </a>
    </h1>

</header>
}
@section SidebarZone
{
    @RenderSection("SidebarZone", false)
}


@RenderBody()

<footer class="site-footer">
    <div class="inner">

        @Html.ThemedPartial(Model, "FooterDescription")

    </div>
</footer>

@Html.GoogleAnalyticsTracking(Model)
