@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@helper BodyAndZones(WebViewPage page)
{
    <div class="row">
        <div class="col-md-12">@page.RenderBody()</div>
    </div>
    <div class="row">
        <div class="col-md-7">@page.RenderSection("Zone_Low_1_60L", false)</div>
        <div class="col-md-5">@page.RenderSection("Zone_Low_1_40R", false)</div>
    </div>
    <div class="row">
        <div class="col-md-8">@page.RenderSection("Zone_Low_2_70L", false)</div>
        <div class="col-md-4">@page.RenderSection("Zone_Low_2_30R", false)</div>
    </div>
    <div class="row">
        <div class="col-md-6">@page.RenderSection("Zone_Low_3_50L", false)</div>
        <div class="col-md-6">@page.RenderSection("Zone_Low_3_50R", false)</div>
    </div>
    <div class="row">
        <div class="col-md-12">@page.RenderSection("Zone_Low_4_100", false)</div>
    </div>
    <div class="row">
        <div class="col-md-7">@page.RenderSection("Zone_Low_5_40L", false)</div>
        <div class="col-md-5">@page.RenderSection("Zone_Low_5_60R", false)</div>
    </div>
    <div class="row">
        <div class="col-md-4">@page.RenderSection("Zone_Low_6_30L", false)</div>
        <div class="col-md-8">@page.RenderSection("Zone_Low_6_70R", false)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@page.RenderSection("Zone_Low_7_30L", false)</div>
        <div class="col-md-6">@page.RenderSection("Zone_Low_7_40C", false)</div>
        <div class="col-md-3">@page.RenderSection("Zone_Low_7_30R", false)</div>
    </div>
    <div class="row">
        <div class="col-md-12">@page.RenderSection("Zone_Low_8_100", false)</div>
    </div>
    <div class="row">
        <div class="col-md-4">@page.RenderSection("Zone_Low_9_33L", false)</div>
        <div class="col-md-4">@page.RenderSection("Zone_Low_9_34C", false)</div>
        <div class="col-md-4">@page.RenderSection("Zone_Low_9_33R", false)</div>
    </div>
}

@helper SidebarNav(WebViewPage page)
{
    <div class="visible-xs visible-sm"><hr></div>
    <div id="MenuV">
    @{ page.Html.RenderPartial("~/Views/Partials/_BindNavigation.cshtml"); }
    <script type="text/javascript">
        (function( $ ) {
            $("#MenuV .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Vertical" });
        })(jQuery);
    </script>
    </div>
}


@helper ApplyClassToBodyWithBrowserVersion(WebViewPage page)
{
    <script type="text/javascript">
        @page.Html.Raw(Resources.BindTuning.ApplyClassToBodyWithBrowserVersion_min)
    </script>
}

@helper FooterLinks(WebViewPage page)
{
    <span id="Copyright"><span class="Copyright">&copy;Copyright&nbsp;@DateTime.Today.Year by Alan McBee. All rights reserved.</span></span>
    @*<span id="Sitemap"><a href="#" class="Sitemap">Sitemap</a></span>
    <span id="Privacy"><a href="#" class="Privacy">Read about privacy</a></span>
    <span id="Terms"><a href="#" class="Terms">Read our terms</a></span>
    <span id="Cart"></span>*@
    @*<span id="Login"><span class="signInOut"><a href="/umbraco#/login?check=false" class="signinoutButton">login</a></span></span>*@
    @*<span id="User"><span class="CurrentUserName">@User.Identity.GetUserName()</span></span>*@
}