@*
@using Articulate;
@using Articulate.Models
@using ClientDependency.Core.Mvc
@model IMasterModel
@{
    Layout = "~/Views/_TwilightSoulMasterLayoutTemplate.cshtml";
}
@section HtmlHeadBottom
{
    <meta name="description" content="@Model.BlogDescription" />
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
    @{ Html
           .RequiresCss("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
           .RequiresCss("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500")
           // This loads all Css found in the current theme's js folder: /Assets/js
           .RequiresThemedCssFolder(Model)
           // This loads all JS found in the current theme's js folder: /Assets/js
           .RequiresThemedJsFolder(Model);
        }
    @Html.RenderCssHere()

}
@section Zone_Top_TS_LittleVillage
{
    <h1>
        <a href="@Url.ArticulateRootUrl(Model)">@Model.BlogTitle</a>
    </h1>
}

<div class="blog">
  @RenderBody()
</div>

@section BodyScriptBottom
{
    @TwilightSoul.JQuery()
    @Html.RenderJsHere()

    <script type="text/javascript">

        @*Used to display comment counts for each article*@

        var disqus_shortname = '@Model.DisqusShortName';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

}
*@