@using Articulate
@using Articulate.Models
@inherits UmbracoViewPage<IMasterModel>

@{
  var recent = Model.Children.Where(item => item is PostModel).Cast<PostModel>();
  // recent = Umbraco.GetRecentPosts(Model, 10);
}

<div class="widget recentposts">
  <h4>Recent posts</h4>

  <div class="content">
    <ul class="recentPosts" id="recentPosts">
      @foreach (var post in recent)
      {
        
          <li>
            @if (!post.PostImageUrl.IsNullOrWhiteSpace())
            {
              var thumbnail = post.GetCropUrl("postImage", "thumbnail");
              if (!thumbnail.IsNullOrWhiteSpace())
              {
                <img class="thumb" src="@thumbnail" alt="@post.Name"/>
              }
            }
            <div class="time">
              <time datetime="@post.PublishedDate">
                @post.PublishedDate.ToString("dddd, MMMM d, yyyy — h:mm tt")
              </time>
            </div>

            <a href="@post.Url">@post.Name</a>
            <div>
              <a data-disqus-identifier="@post.GetContentKey()" class="comment-count" href="@post.Url#disqus_thread"></a>
            </div>
          </li>
        
      }
    </ul>
  </div>
</div>